In [2]:
import datetime
import os

import numpy  as np
import pandas as pd

In [3]:
from matplotlib import pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')

In [4]:
# Variables

dataDir   = '../Data'
pickleDir = '../Data/Pickle'
inputFile = '../Data/Fields/D11.csv'

In [5]:
# Read train data if enable
if (False) :
    print('input datas:',datetime.datetime.now())
    frame = pd.read_csv(inputFile)
    print('end input',datetime.datetime.now())
    print(frame.tail())

In [7]:
# Read summary on user_id datas
au = pd.read_pickle(os.path.join(pickleDir,'Result-01','trans01-user-id-all.pck'))
au.shape

(1198786, 25)

In [8]:
# Read summary on user_id-dt0m if enabled
if (False) :
    aum = pd.read_pickle(os.path.join(pickleDir,'trans01-user_id-dt0m-all.pck'))
    aum.shape

In [11]:
# Read test datas (test.csv )
test = pd.read_csv(os.path.join(dataDir,'test.csv'))
print(test.shape)
test.head()

(2528243, 22)

,id,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,...,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market
0,0,2015-09-03 17:09:54,2,3,66,174,37449,5539.0567,1,1,...,2016-05-19,2016-05-23,2,0,1,12243,6,6,204,27
1,1,2015-09-24 17:38:35,2,3,66,174,37449,5873.2923,1,1,...,2016-05-12,2016-05-15,2,0,1,14474,7,6,204,1540
2,2,2015-06-07 15:53:02,2,3,66,142,17440,3975.9776,20,0,...,2015-07-26,2015-07-27,4,0,1,11353,1,2,50,699
3,3,2015-09-14 14:49:10,2,3,66,258,34156,1508.5975,28,0,...,2015-09-14,2015-09-16,2,0,1,8250,1,2,50,628
4,4,2015-07-17 09:32:04,2,3,66,467,36345,66.7913,50,0,...,2015-07-22,2015-07-23,2,0,1,11812,1,2,50,538

In [19]:
# Compare au.user_id and test.user_id (common size and difference)
xau   = au['user_id'];   xau.index=au.user_id
xtest = test[['user_id','id']].groupby('user_id'); 
xtest=xtest.apply(len)
xtest=xtest.reset_index()
aut = pd.concat([xtest,xau],axis=1,join='inner',keys=['test','tr-user-id'])
print('test(user_id),train(user_id),concat-inner(user_id),diff(train-test): ', len(xtest),len(xau),len(aut),(len(xau)-len(xtest)))
aut.tail()

test(user_id),train(user_id),concat-inner(user_id),diff(train-test):  1181577 1198786 1181577 17209

            test    tr-user-id
         user_id  0    user_id
1181572  1198781  2    1181572
1181573  1198782  1    1181573
1181574  1198783  1    1181574
1181575  1198784  1    1181575
1181576  1198785  1    1181576

In [21]:
# Search not existing in train datas (user_id), then exist in test datas
print('exists in test, but not in train = ',len(aut[pd.isnull(aut.user_id_r)]))
aut[pd.isnull(aut.user_id_r)].head(30)

exists in test, but not in train =  0

Empty DataFrame
Columns: [user_id, user_id_l, id, user_id_r, count0, countCnt0, count1, countCnt1, b0n0, b0n1, b0n2, b0n3, b0n4, b1n0, b1n1, b1n2, b1n3, b1n4, b0v0, b0v1, b0v2, b0v3, b0v4, b1v0, b1v1, b1v2, b1v3, b1v4]
Index: []

[0 rows x 28 columns]

In [26]:
xx=au.plot(kind='scatter',x='count0',y='count1');
type(xx); xx.show()

AttributeError: 'AxesSubplot' object has no attribute 'show'