In [2]:
import os.path
import datetime

import numpy  as np
import pandas as pd

In [3]:
# Constants

dataDir    = '../Data'
pickleDir  = '../Data/Pickle'
pickleDir1 = os.path.join(pickleDir,'Result-01')
pickleDir2 = os.path.join(pickleDir,'Result-02')
cols1      = ['user_id','dt0m','is_booking','cnt','hotel_cluster']

nLargest = 5
nCluster = 100
cols1

['user_id', 'dt0m', 'is_booking', 'cnt', 'hotel_cluster']

In [4]:
# Read train.csv or if exists train-user-id-book then picle saved file
train_pickle = os.path.join(pickleDir,'trainx-user-id-dt0m-book.pkl')
if os.path.exists(train_pickle) :
    trainx = pd.read_pickle(train_pickle)
else :
    trainx = pd.read_csv(os.path.join(dataDir,'trainExt.csv'),usecols=cols1,
                     dtype={'user_id':int,'dt0m':int,'is_booking':int,'cnt':int,'hotel_cluster':int})
    print('trainx.shape = ',trainx.shape)
    trainx.index = [trainx.user_id,trainx.dt0m,trainx.is_booking]
    print('trainx.columns = ',trainx.columns)
    trainx = trainx.sort_index(kind='quicksort')
    trainx.to_pickle(train_pickle)
print(trainx.head())
print(trainx.tail())

                         user_id  dt0m  is_booking  cnt  hotel_cluster
user_id dt0m is_booking
0       9    0                 0     9           0    1             19
        12   0                 0    12           0    1             98
             0                 0    12           0    1             40
             0                 0    12           0    1             56
             0                 0    12           0    2             72
                         user_id  dt0m  is_booking  cnt  hotel_cluster
user_id dt0m is_booking
1198784 4    0           1198784     4           0    2             26
        8    0           1198784     8           0    1             79
             1           1198784     8           1    1             79
1198785 7    0           1198785     7           0    2             76
             0           1198785     7           0    1             76

In [5]:
trainx[trainx.user_id==0]

                         user_id  dt0m  is_booking  cnt  hotel_cluster
user_id dt0m is_booking
0       9    0                 0     9           0    1             19
        12   0                 0    12           0    1             98
             0                 0    12           0    1             40
             0                 0    12           0    1             56
             0                 0    12           0    2             72
             0                 0    12           0    1             28

In [6]:
trainx.head()

                         user_id  dt0m  is_booking  cnt  hotel_cluster
user_id dt0m is_booking
0       9    0                 0     9           0    1             19
        12   0                 0    12           0    1             98
             0                 0    12           0    1             40
             0                 0    12           0    1             56
             0                 0    12           0    2             72

In [7]:
trainx.tail()

                         user_id  dt0m  is_booking  cnt  hotel_cluster
user_id dt0m is_booking
1198784 4    0           1198784     4           0    2             26
        8    0           1198784     8           0    1             79
             1           1198784     8           1    1             79
1198785 7    0           1198785     7           0    2             76
             0           1198785     7           0    1             76

In [20]:
# build list for partitional work
lpiece = 19000
lmin = trainx['user_id'].min()
lmax = trainx['user_id'].max()
print(lmin,lmax)

lend = lmax+1
l = [i for i in range(0,lend,lpiece)]
if (l[len(l)-1]!=lend) : l.append(lend)
    
mm = [(l[i],l[i+1]) for i in range(len(l)-1)]
print(len(mm),mm[0:5],mm[-3:])

0 1198785
64 [(0, 19000), (19000, 38000), (38000, 57000), (57000, 76000), (76000, 95000)] [(1159000, 1178000), (1178000, 1197000), (1197000, 1198786)]

In [15]:
# Function for apply function: count counts, and build arrays for hostel_clusters
i        = -1
x00x     = [-1]*nLargest

dcol = ['count','countCnt'] + ['n'+str(i) for i in range(nLargest)]  + ['v'+str(i) for i in range(nLargest)] 

def fApply (xgroup) :
    global i,nLargest,nCluster
    ygroup = xgroup[['hotel_cluster','cnt']].groupby('hotel_cluster').sum().reset_index()
    d00  = np.zeros((nCluster),dtype=np.int16); d00[ygroup['hotel_cluster']]+=ygroup['cnt']
    dsum = xgroup['cnt'].sum()
    dcnt = len(xgroup)
    d05  = pd.Series(d00); 
    n05=d05[d05>0].nlargest(nLargest).index.tolist()+x00x; n05=n05[0:nLargest];
    v05=d05[d05>0].nlargest(nLargest).tolist()+x00x;       v05=v05[0:nLargest];
    ddd  = [dcnt,dsum] + n05 + v05 # + d00.tolist()
    #i   += 1
    #if (i%10000==0) : print('5 :',datetime.datetime.now()," i = ",i," len-xgroup =",len(xgroup),ddd)

    
    return(pd.DataFrame(ddd,index=dcol,dtype=int).T)

In [18]:
# Function for split and join arrays for is_booking {True,False}
def fJoin (transx,nn,filepickle) :
    trans0 = transx.query('is_booking==0')[['user_id','dt0m','is_booking','count','countCnt']+ \
                                              ['n'+str(i) for i in range(nn)]+['v'+str(i) for i in range(nn)]]
    trans0.index = [trans0.user_id, trans0.dt0m]
    trans0.dtype = int
    #print(trans0.head())

    trans1 = transx.query('is_booking==1')[['user_id','dt0m','is_booking','count','countCnt']+ \
                                             ['n'+str(i) for i in range(nn)]+['v'+str(i) for i in range(nn)]]
    trans1.index = [trans1.user_id, trans1.dt0m]
    trans1.dtype = int
    #print(trans1.head())

    trans01 = pd.concat([trans0,trans1],axis=1)
    trans01.columns = ['user_id','dt0m','bo0','count0','countCnt0']+['b0n'+str(i) for i in range(nn)]+['b0v'+str(i) for i in range(nn)]+ \
                        ['h1','dt0m1','bo1','count1','countCnt1']+['b1n'+str(i) for i in range(nn)]+['b1v'+str(i) for i in range(nn)]
    trans01 = trans01[['user_id','dt0m','count0','countCnt0','count1','countCnt1'] + \
                      ['b0n'+str(i) for i in range(nn)]+['b1n'+str(i) for i in range(nn)]+ \
                      ['b0v'+str(i) for i in range(nn)]+['b1v'+str(i) for i in range(nn)]]
    trans01.dtype = int
    
    trans01.to_pickle(filepickle)
    
    return(trans01)

In [21]:
# Main body for calculate partition and save in file
fres = []
i1,i2 = 10000,20000
for i1,i2 in mm :
    print('4 :',datetime.datetime.now(),' i1,i2=',i1,i2)
    cond = '('+str(i1)+'<=user_id)&(user_id<'+str(i2)+')'
    grouped100 = trainx.query(cond).groupby(['user_id','dt0m','is_booking']); 
    #print('user+book =',len(grouped100))
    #print('before fApply:',datetime.datetime.now())
    i       = -1
    trans   = grouped100.apply(fApply);
    #print('after fApply:',datetime.datetime.now())
    trans   = trans.reset_index()
    #print('before fJoin:',datetime.datetime.now())
    ffile   = os.path.join(pickleDir,'trans01-'+str(i1+1000000000)+'.pck')
    trans01 = fJoin(trans,nLargest,ffile)
    fres.append(ffile)
    print('6 :',datetime.datetime.now(),trans01.shape)
    
print('7 :',datetime.datetime.now())
print('fres=',len(fres))
trans01.head()

4 : 2016-05-28 05:24:47.223841  i1,i2= 0 19000

C:\Anaconda3-64\lib\site-packages\ipykernel\__main__.py:10: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future

5 : 2016-05-28 05:24:50.219811  i =  0  len-xgroup = 1 [1, 1, 19, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 05:26:01.811403  i =  10000  len-xgroup = 1 [1, 1, 37, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 05:27:18.306478  i =  20000  len-xgroup = 11 [11, 13, 59, 3, 40, 5, 30, 3, 2, 2, 1, 1]
5 : 2016-05-28 05:28:44.111636  i =  30000  len-xgroup = 18 [18, 43, 85, 36, 62, 57, 99, 19, 7, 5, 4, 4]
5 : 2016-05-28 05:30:11.765404  i =  40000  len-xgroup = 2 [2, 2, 13, 85, -1, -1, -1, 1, 1, -1, -1, -1]
5 : 2016-05-28 05:31:42.843513  i =  50000  len-xgroup = 4 [4, 4, 84, -1, -1, -1, -1, 4, -1, -1, -1, -1]
5 : 2016-05-28 05:33:14.781524  i =  60000  len-xgroup = 1 [1, 1, 20, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 05:34:44.291790  i =  70000  len-xgroup = 3 [3, 3, 46, 62, 63, -1, -1, 1, 1, 1, -1, -1]
5 : 2016-05-28 05:36:20.252689  i =  80000  len-xgroup = 24 [24, 34, 18, 28, 13, 4, 48, 15, 15, 2, 1, 1]
5 : 2016-05-28 05:38:53.163122  i =  90000  len-xgroup = 9 [9, 14, 40, 77, 14, 32, 39, 4, 4, 3, 1, 1]
6 : 2016-05-28 05:40:32.136300 (70432, 26)
4 : 2016-05-28 05:40:32.151925  i1,i2= 19000 38000
5 : 2016-05-28 05:40:35.808660  i =  0  len-xgroup = 1 [1, 4, 66, -1, -1, -1, -1, 4, -1, -1, -1, -1]
5 : 2016-05-28 05:42:14.599232  i =  10000  len-xgroup = 3 [3, 3, 52, 86, 98, -1, -1, 1, 1, 1, -1, -1]
5 : 2016-05-28 05:43:44.799377  i =  20000  len-xgroup = 2 [2, 2, 9, 64, -1, -1, -1, 1, 1, -1, -1, -1]
5 : 2016-05-28 05:45:15.315228  i =  30000  len-xgroup = 4 [4, 4, 83, 95, -1, -1, -1, 2, 2, -1, -1, -1]
5 : 2016-05-28 05:46:45.542800  i =  40000  len-xgroup = 3 [3, 3, 26, 34, 47, -1, -1, 1, 1, 1, -1, -1]
5 : 2016-05-28 05:48:15.770736  i =  50000  len-xgroup = 7 [7, 25, 91, 5, 16, 28, 75, 11, 5, 3, 3, 3]
5 : 2016-05-28 05:49:45.987284  i =  60000  len-xgroup = 9 [9, 9, 48, 32, 47, 76, 77, 3, 2, 1, 1, 1]
5 : 2016-05-28 05:51:27.805775  i =  70000  len-xgroup = 2 [2, 2, 15, 97, -1, -1, -1, 1, 1, -1, -1, -1]
5 : 2016-05-28 05:52:57.984698  i =  80000  len-xgroup = 10 [10, 15, 64, 0, 17, 70, 21, 4, 2, 2, 2, 1]
5 : 2016-05-28 05:54:27.315258  i =  90000  len-xgroup = 3 [3, 3, 90, -1, -1, -1, -1, 3, -1, -1, -1, -1]
6 : 2016-05-28 05:55:20.702522 (67165, 26)
4 : 2016-05-28 05:55:20.702522  i1,i2= 38000 57000
5 : 2016-05-28 05:55:29.385157  i =  0  len-xgroup = 6 [6, 9, 47, 1, 34, 52, 54, 4, 1, 1, 1, 1]
5 : 2016-05-28 05:57:04.215735  i =  10000  len-xgroup = 1 [1, 1, 28, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 05:58:34.037010  i =  20000  len-xgroup = 8 [8, 16, 29, 36, 59, 8, 46, 7, 4, 3, 1, 1]
5 : 2016-05-28 06:00:11.318369  i =  30000  len-xgroup = 3 [3, 3, 39, 65, 80, -1, -1, 1, 1, 1, -1, -1]
5 : 2016-05-28 06:01:51.094994  i =  40000  len-xgroup = 3 [3, 4, 0, 25, -1, -1, -1, 3, 1, -1, -1, -1]
5 : 2016-05-28 06:03:21.047826  i =  50000  len-xgroup = 5 [5, 5, 7, 42, 48, 50, -1, 2, 1, 1, 1, -1]
5 : 2016-05-28 06:05:08.398610  i =  60000  len-xgroup = 1 [1, 1, 34, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 06:06:38.604475  i =  70000  len-xgroup = 1 [1, 1, 83, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 06:08:08.250628  i =  80000  len-xgroup = 26 [26, 33, 1, 98, 11, 24, 46, 6, 4, 3, 3, 3]
5 : 2016-05-28 06:10:08.803024  i =  90000  len-xgroup = 6 [6, 13, 55, 28, 22, 25, -1, 9, 2, 1, 1, -1]
6 : 2016-05-28 06:11:11.141226 (67748, 26)
4 : 2016-05-28 06:11:11.141226  i1,i2= 57000 76000
5 : 2016-05-28 06:11:20.577908  i =  0  len-xgroup = 2 [2, 2, 65, -1, -1, -1, -1, 2, -1, -1, -1, -1]
5 : 2016-05-28 06:12:51.544340  i =  10000  len-xgroup = 28 [28, 72, 50, 99, 23, 76, 10, 16, 16, 7, 6, 5]
5 : 2016-05-28 06:14:21.624103  i =  20000  len-xgroup = 1 [1, 1, 70, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 06:16:07.782581  i =  30000  len-xgroup = 1 [1, 1, 48, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 06:17:37.634259  i =  40000  len-xgroup = 1 [1, 1, 48, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 06:19:25.028275  i =  50000  len-xgroup = 1 [1, 1, 95, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 06:20:55.553815  i =  60000  len-xgroup = 9 [9, 15, 1, 19, 28, 54, 88, 2, 2, 2, 2, 2]
5 : 2016-05-28 06:22:42.518863  i =  70000  len-xgroup = 1 [1, 1, 37, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 06:24:12.446798  i =  80000  len-xgroup = 1 [1, 1, 77, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 06:25:57.768673  i =  90000  len-xgroup = 4 [4, 4, 1, 21, 54, 79, -1, 1, 1, 1, 1, -1]
6 : 2016-05-28 06:27:17.627523 (69279, 26)
4 : 2016-05-28 06:27:17.627523  i1,i2= 76000 95000
5 : 2016-05-28 06:27:22.762736  i =  0  len-xgroup = 3 [3, 3, 40, 3, -1, -1, -1, 2, 1, -1, -1, -1]
5 : 2016-05-28 06:29:38.137407  i =  10000  len-xgroup = 1 [1, 1, 21, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 06:31:08.232244  i =  20000  len-xgroup = 12 [12, 22, 10, 2, 30, 62, 81, 5, 4, 3, 2, 2]
5 : 2016-05-28 06:32:37.964643  i =  30000  len-xgroup = 2 [2, 3, 21, 70, -1, -1, -1, 2, 1, -1, -1, -1]
5 : 2016-05-28 06:34:08.045286  i =  40000  len-xgroup = 2 [2, 3, 99, 58, -1, -1, -1, 2, 1, -1, -1, -1]
5 : 2016-05-28 06:35:38.408486  i =  50000  len-xgroup = 5 [5, 7, 91, 7, 13, 48, -1, 4, 1, 1, 1, -1]
5 : 2016-05-28 06:37:25.453126  i =  60000  len-xgroup = 1 [1, 1, 21, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 06:38:54.959674  i =  70000  len-xgroup = 1 [1, 1, 95, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 06:40:42.690587  i =  80000  len-xgroup = 3 [3, 4, 9, 46, 58, -1, -1, 2, 1, 1, -1, -1]
5 : 2016-05-28 06:42:13.021557  i =  90000  len-xgroup = 1 [1, 1, 97, -1, -1, -1, -1, 1, -1, -1, -1, -1]
6 : 2016-05-28 06:44:04.321132 (70414, 26)
4 : 2016-05-28 06:44:04.321132  i1,i2= 95000 114000
5 : 2016-05-28 06:44:07.845523  i =  0  len-xgroup = 9 [9, 10, 41, 2, 83, 68, 87, 3, 2, 2, 1, 1]
5 : 2016-05-28 06:45:37.491407  i =  10000  len-xgroup = 2 [2, 3, 21, 6, -1, -1, -1, 2, 1, -1, -1, -1]
5 : 2016-05-28 06:47:07.264513  i =  20000  len-xgroup = 4 [4, 6, 28, 72, -1, -1, -1, 5, 1, -1, -1, -1]
5 : 2016-05-28 06:48:54.809454  i =  30000  len-xgroup = 1 [1, 1, 77, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 06:50:24.963830  i =  40000  len-xgroup = 1 [1, 1, 95, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 06:52:12.177418  i =  50000  len-xgroup = 11 [11, 11, 6, 7, 11, 14, 28, 1, 1, 1, 1, 1]
5 : 2016-05-28 06:53:42.695019  i =  60000  len-xgroup = 2 [2, 2, 4, 7, -1, -1, -1, 1, 1, -1, -1, -1]
5 : 2016-05-28 06:55:29.699217  i =  70000  len-xgroup = 1 [1, 1, 31, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 06:56:59.147644  i =  80000  len-xgroup = 2 [2, 8, 80, -1, -1, -1, -1, 8, -1, -1, -1, -1]
5 : 2016-05-28 06:58:33.434037  i =  90000  len-xgroup = 2 [2, 2, 91, 99, -1, -1, -1, 1, 1, -1, -1, -1]
5 : 2016-05-28 07:00:15.698841  i =  100000  len-xgroup = 2 [2, 2, 34, -1, -1, -1, -1, 2, -1, -1, -1, -1]
6 : 2016-05-28 07:00:35.866477 (70947, 26)
4 : 2016-05-28 07:00:35.866477  i1,i2= 114000 133000
5 : 2016-05-28 07:00:45.214290  i =  0  len-xgroup = 2 [2, 7, 64, 86, -1, -1, -1, 5, 2, -1, -1, -1]
5 : 2016-05-28 07:03:00.049277  i =  10000  len-xgroup = 1 [1, 1, 64, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 07:04:30.047869  i =  20000  len-xgroup = 1 [1, 1, 33, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 07:06:00.089710  i =  30000  len-xgroup = 2 [2, 2, 25, 78, -1, -1, -1, 1, 1, -1, -1, -1]
5 : 2016-05-28 07:07:30.034308  i =  40000  len-xgroup = 6 [6, 9, 68, 2, 25, 58, 64, 4, 2, 1, 1, 1]
5 : 2016-05-28 07:08:59.717156  i =  50000  len-xgroup = 1 [1, 1, 68, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 07:10:47.155315  i =  60000  len-xgroup = 2 [2, 3, 50, 91, -1, -1, -1, 2, 1, -1, -1, -1]
5 : 2016-05-28 07:12:16.653307  i =  70000  len-xgroup = 2 [2, 2, 19, 21, -1, -1, -1, 1, 1, -1, -1, -1]
5 : 2016-05-28 07:14:02.510146  i =  80000  len-xgroup = 1 [1, 1, 28, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 07:15:33.081984  i =  90000  len-xgroup = 4 [4, 17, 19, 95, 64, 98, -1, 7, 6, 3, 1, -1]
5 : 2016-05-28 07:17:19.911941  i =  100000  len-xgroup = 5 [5, 7, 59, 18, 19, -1, -1, 5, 1, 1, -1, -1]
6 : 2016-05-28 07:17:49.487542 (71891, 26)
4 : 2016-05-28 07:17:49.487542  i1,i2= 133000 152000
5 : 2016-05-28 07:17:52.856465  i =  0  len-xgroup = 2 [2, 3, 76, 78, -1, -1, -1, 2, 1, -1, -1, -1]
5 : 2016-05-28 07:19:22.916469  i =  10000  len-xgroup = 1 [1, 1, 82, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 07:21:08.697424  i =  20000  len-xgroup = 2 [2, 2, 42, 48, -1, -1, -1, 1, 1, -1, -1, -1]
5 : 2016-05-28 07:22:38.681197  i =  30000  len-xgroup = 2 [2, 7, 2, 93, -1, -1, -1, 4, 3, -1, -1, -1]
5 : 2016-05-28 07:24:26.013964  i =  40000  len-xgroup = 2 [2, 5, 72, 21, -1, -1, -1, 4, 1, -1, -1, -1]
5 : 2016-05-28 07:26:11.616913  i =  50000  len-xgroup = 7 [7, 8, 20, 30, 75, 25, 77, 2, 2, 2, 1, 1]
5 : 2016-05-28 07:27:41.299429  i =  60000  len-xgroup = 2 [2, 2, 59, 72, -1, -1, -1, 1, 1, -1, -1, -1]
5 : 2016-05-28 07:29:12.700959  i =  70000  len-xgroup = 1 [1, 1, 7, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 07:30:58.396988  i =  80000  len-xgroup = 4 [4, 7, 42, 28, 91, -1, -1, 3, 2, 2, -1, -1]
5 : 2016-05-28 07:32:28.383994  i =  90000  len-xgroup = 4 [4, 5, 48, 16, 91, 94, -1, 2, 1, 1, 1, -1]
5 : 2016-05-28 07:34:15.768409  i =  100000  len-xgroup = 7 [7, 7, 38, 82, 3, 22, 62, 2, 2, 1, 1, 1]
6 : 2016-05-28 07:34:34.434739 (71388, 26)
4 : 2016-05-28 07:34:34.434739  i1,i2= 152000 171000
5 : 2016-05-28 07:34:37.753981  i =  0  len-xgroup = 1 [1, 1, 94, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 07:36:25.056828  i =  10000  len-xgroup = 2 [2, 2, 21, 55, -1, -1, -1, 1, 1, -1, -1, -1]
5 : 2016-05-28 07:37:54.902617  i =  20000  len-xgroup = 3 [3, 5, 48, 28, 96, -1, -1, 3, 1, 1, -1, -1]
5 : 2016-05-28 07:39:41.628453  i =  30000  len-xgroup = 3 [3, 3, 31, 36, 97, -1, -1, 1, 1, 1, -1, -1]
5 : 2016-05-28 07:41:12.078239  i =  40000  len-xgroup = 2 [2, 2, 72, 96, -1, -1, -1, 1, 1, -1, -1, -1]
5 : 2016-05-28 07:42:57.703437  i =  50000  len-xgroup = 1 [1, 4, 70, -1, -1, -1, -1, 4, -1, -1, -1, -1]
5 : 2016-05-28 07:44:27.666237  i =  60000  len-xgroup = 7 [7, 9, 47, 4, 21, 39, 64, 4, 1, 1, 1, 1]
5 : 2016-05-28 07:46:10.679363  i =  70000  len-xgroup = 7 [7, 12, 85, 12, 11, 47, 57, 4, 3, 1, 1, 1]
5 : 2016-05-28 07:47:41.105667  i =  80000  len-xgroup = 1 [1, 2, 25, -1, -1, -1, -1, 2, -1, -1, -1, -1]
5 : 2016-05-28 07:49:25.340581  i =  90000  len-xgroup = 1 [1, 1, 83, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 07:50:54.972252  i =  100000  len-xgroup = 1 [1, 1, 13, -1, -1, -1, -1, 1, -1, -1, -1, -1]
6 : 2016-05-28 07:51:38.546804 (71930, 26)
4 : 2016-05-28 07:51:38.546804  i1,i2= 171000 190000
5 : 2016-05-28 07:51:41.972900  i =  0  len-xgroup = 19 [19, 27, 84, 9, 0, 26, 95, 10, 3, 2, 2, 2]
5 : 2016-05-28 07:53:11.574569  i =  10000  len-xgroup = 8 [8, 14, 88, 45, 19, 24, 84, 7, 3, 2, 1, 1]
5 : 2016-05-28 07:54:57.222635  i =  20000  len-xgroup = 2 [2, 2, 90, 91, -1, -1, -1, 1, 1, -1, -1, -1]
5 : 2016-05-28 07:56:26.878956  i =  30000  len-xgroup = 3 [3, 3, 18, 41, 59, -1, -1, 1, 1, 1, -1, -1]
5 : 2016-05-28 07:58:12.374867  i =  40000  len-xgroup = 9 [9, 10, 48, 13, 81, 32, 42, 3, 2, 2, 1, 1]
5 : 2016-05-28 07:59:42.528470  i =  50000  len-xgroup = 4 [4, 8, 91, 19, 26, 48, -1, 5, 1, 1, 1, -1]
5 : 2016-05-28 08:01:24.480999  i =  60000  len-xgroup = 4 [4, 7, 72, 4, 83, 84, -1, 4, 1, 1, 1, -1]
5 : 2016-05-28 08:02:53.815883  i =  70000  len-xgroup = 3 [3, 5, 17, 94, -1, -1, -1, 4, 1, -1, -1, -1]
5 : 2016-05-28 08:04:41.045533  i =  80000  len-xgroup = 1 [1, 1, 21, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 08:06:28.697491  i =  90000  len-xgroup = 1 [1, 2, 98, -1, -1, -1, -1, 2, -1, -1, -1, -1]
5 : 2016-05-28 08:07:58.258957  i =  100000  len-xgroup = 15 [15, 27, 22, 13, 9, 58, 64, 15, 3, 2, 2, 2]
6 : 2016-05-28 08:08:36.465137 (72275, 26)
4 : 2016-05-28 08:08:36.465137  i1,i2= 190000 209000
5 : 2016-05-28 08:08:45.975517  i =  0  len-xgroup = 3 [3, 3, 36, -1, -1, -1, -1, 3, -1, -1, -1, -1]
5 : 2016-05-28 08:10:21.706230  i =  10000  len-xgroup = 2 [2, 6, 14, -1, -1, -1, -1, 6, -1, -1, -1, -1]
5 : 2016-05-28 08:12:14.109732  i =  20000  len-xgroup = 23 [23, 39, 8, 66, 52, 44, 65, 12, 11, 10, 2, 2]
5 : 2016-05-28 08:13:55.799308  i =  30000  len-xgroup = 2 [2, 2, 25, 59, -1, -1, -1, 1, 1, -1, -1, -1]
5 : 2016-05-28 08:15:25.936909  i =  40000  len-xgroup = 3 [3, 4, 82, 5, 78, -1, -1, 2, 1, 1, -1, -1]
5 : 2016-05-28 08:17:12.783554  i =  50000  len-xgroup = 1 [1, 1, 44, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 08:18:42.668896  i =  60000  len-xgroup = 6 [6, 13, 95, 91, -1, -1, -1, 12, 1, -1, -1, -1]
5 : 2016-05-28 08:20:30.245822  i =  70000  len-xgroup = 7 [7, 8, 37, 90, 13, 17, 30, 2, 2, 1, 1, 1]
5 : 2016-05-28 08:21:59.748718  i =  80000  len-xgroup = 5 [5, 6, 33, 90, 89, -1, -1, 3, 2, 1, -1, -1]
5 : 2016-05-28 08:23:46.785088  i =  90000  len-xgroup = 1 [1, 1, 6, -1, -1, -1, -1, 1, -1, -1, -1, -1]
6 : 2016-05-28 08:25:35.228232 (70077, 26)
4 : 2016-05-28 08:25:35.228232  i1,i2= 209000 228000
5 : 2016-05-28 08:25:38.893587  i =  0  len-xgroup = 13 [13, 19, 59, 6, 17, 11, 78, 5, 3, 3, 2, 2]
5 : 2016-05-28 08:27:08.200892  i =  10000  len-xgroup = 2 [2, 3, 9, -1, -1, -1, -1, 3, -1, -1, -1, -1]
5 : 2016-05-28 08:28:53.853622  i =  20000  len-xgroup = 4 [4, 5, 51, 10, -1, -1, -1, 3, 2, -1, -1, -1]
5 : 2016-05-28 08:30:27.227596  i =  30000  len-xgroup = 1 [1, 1, 10, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 08:32:10.652014  i =  40000  len-xgroup = 2 [2, 2, 24, 46, -1, -1, -1, 1, 1, -1, -1, -1]
5 : 2016-05-28 08:33:57.543208  i =  50000  len-xgroup = 19 [19, 23, 77, 90, 7, 10, 64, 6, 5, 2, 2, 2]
5 : 2016-05-28 08:35:27.648563  i =  60000  len-xgroup = 2 [2, 2, 2, 81, -1, -1, -1, 1, 1, -1, -1, -1]
5 : 2016-05-28 08:37:14.690310  i =  70000  len-xgroup = 1 [1, 1, 49, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 08:39:00.670017  i =  80000  len-xgroup = 1 [1, 1, 95, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 08:40:30.933807  i =  90000  len-xgroup = 6 [6, 9, 31, -1, -1, -1, -1, 9, -1, -1, -1, -1]
6 : 2016-05-28 08:41:57.362552 (68649, 26)
4 : 2016-05-28 08:41:57.362552  i1,i2= 228000 247000
5 : 2016-05-28 08:42:01.162084  i =  0  len-xgroup = 1 [1, 1, 93, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 08:43:30.830142  i =  10000  len-xgroup = 1 [1, 1, 6, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 08:45:16.772059  i =  20000  len-xgroup = 1 [1, 1, 81, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 08:46:47.691750  i =  30000  len-xgroup = 1 [1, 1, 99, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 08:48:48.420271  i =  40000  len-xgroup = 4 [4, 10, 72, 18, -1, -1, -1, 9, 1, -1, -1, -1]
5 : 2016-05-28 08:50:18.668595  i =  50000  len-xgroup = 13 [13, 13, 41, 69, 3, 18, 50, 4, 3, 1, 1, 1]
5 : 2016-05-28 08:52:04.416990  i =  60000  len-xgroup = 3 [3, 3, 73, -1, -1, -1, -1, 3, -1, -1, -1, -1]
5 : 2016-05-28 08:53:33.850730  i =  70000  len-xgroup = 1 [1, 1, 28, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 08:55:20.173191  i =  80000  len-xgroup = 2 [2, 2, 10, 83, -1, -1, -1, 1, 1, -1, -1, -1]
5 : 2016-05-28 08:56:50.171301  i =  90000  len-xgroup = 2 [2, 2, 5, 97, -1, -1, -1, 1, 1, -1, -1, -1]
6 : 2016-05-28 08:57:40.400572 (65804, 26)
4 : 2016-05-28 08:57:40.400572  i1,i2= 247000 266000
5 : 2016-05-28 08:57:44.563889  i =  0  len-xgroup = 4 [4, 8, 48, 51, 83, 47, -1, 3, 2, 2, 1, -1]
5 : 2016-05-28 08:59:14.129917  i =  10000  len-xgroup = 8 [8, 11, 49, 28, 91, 41, 48, 3, 2, 2, 1, 1]
5 : 2016-05-28 09:01:00.837728  i =  20000  len-xgroup = 5 [5, 7, 15, 14, 51, 77, 91, 3, 1, 1, 1, 1]
5 : 2016-05-28 09:02:47.434534  i =  30000  len-xgroup = 6 [6, 7, 61, 37, 55, 69, 76, 3, 1, 1, 1, 1]
5 : 2016-05-28 09:04:17.655338  i =  40000  len-xgroup = 4 [4, 4, 5, 35, 40, -1, -1, 2, 1, 1, -1, -1]
5 : 2016-05-28 09:06:02.283962  i =  50000  len-xgroup = 2 [2, 2, 28, 55, -1, -1, -1, 1, 1, -1, -1, -1]
5 : 2016-05-28 09:07:48.998539  i =  60000  len-xgroup = 2 [2, 7, 95, 70, -1, -1, -1, 6, 1, -1, -1, -1]
5 : 2016-05-28 09:09:19.148364  i =  70000  len-xgroup = 1 [1, 1, 62, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 09:11:05.912113  i =  80000  len-xgroup = 2 [2, 3, 28, -1, -1, -1, -1, 3, -1, -1, -1, -1]
5 : 2016-05-28 09:12:51.805328  i =  90000  len-xgroup = 3 [3, 3, 41, 65, 97, -1, -1, 1, 1, 1, -1, -1]
6 : 2016-05-28 09:13:57.296962 (67751, 26)
4 : 2016-05-28 09:13:57.296962  i1,i2= 266000 285000
5 : 2016-05-28 09:14:06.796277  i =  0  len-xgroup = 6 [6, 7, 77, 1, 51, 96, -1, 4, 1, 1, 1, -1]
5 : 2016-05-28 09:15:38.505177  i =  10000  len-xgroup = 12 [12, 24, 29, 64, 16, 37, 99, 7, 6, 3, 3, 2]
5 : 2016-05-28 09:18:17.670399  i =  20000  len-xgroup = 1 [1, 1, 0, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 09:19:47.396912  i =  30000  len-xgroup = 2 [2, 2, 83, -1, -1, -1, -1, 2, -1, -1, -1, -1]
5 : 2016-05-28 09:21:17.801974  i =  40000  len-xgroup = 2 [2, 2, 21, 89, -1, -1, -1, 1, 1, -1, -1, -1]
5 : 2016-05-28 09:22:47.878642  i =  50000  len-xgroup = 1 [1, 1, 40, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 09:24:17.799532  i =  60000  len-xgroup = 2 [2, 6, 98, 68, -1, -1, -1, 5, 1, -1, -1, -1]
5 : 2016-05-28 09:25:57.389891  i =  70000  len-xgroup = 2 [2, 2, 37, 60, -1, -1, -1, 1, 1, -1, -1, -1]
5 : 2016-05-28 09:27:35.103760  i =  80000  len-xgroup = 11 [11, 14, 58, 82, 68, 5, 29, 3, 3, 2, 1, 1]
5 : 2016-05-28 09:29:05.329237  i =  90000  len-xgroup = 1 [1, 1, 73, -1, -1, -1, -1, 1, -1, -1, -1, -1]
6 : 2016-05-28 09:29:50.460629 (65544, 26)
4 : 2016-05-28 09:29:50.476536  i1,i2= 285000 304000
5 : 2016-05-28 09:29:54.266089  i =  0  len-xgroup = 2 [2, 6, 12, 81, -1, -1, -1, 4, 2, -1, -1, -1]
5 : 2016-05-28 09:31:23.722115  i =  10000  len-xgroup = 5 [5, 5, 8, 11, 35, 38, 68, 1, 1, 1, 1, 1]
5 : 2016-05-28 09:33:10.656605  i =  20000  len-xgroup = 1 [1, 1, 20, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 09:34:42.400601  i =  30000  len-xgroup = 10 [10, 12, 58, 64, 11, 30, 78, 3, 3, 2, 1, 1]
5 : 2016-05-28 09:36:27.423440  i =  40000  len-xgroup = 4 [4, 4, 70, 11, -1, -1, -1, 3, 1, -1, -1, -1]
5 : 2016-05-28 09:38:49.826367  i =  50000  len-xgroup = 35 [35, 45, 64, 46, 97, 25, 2, 12, 8, 5, 3, 2]
5 : 2016-05-28 09:40:19.962621  i =  60000  len-xgroup = 2 [2, 6, 8, 35, -1, -1, -1, 3, 3, -1, -1, -1]
5 : 2016-05-28 09:42:06.617050  i =  70000  len-xgroup = 19 [19, 26, 63, 38, 59, 83, -1, 22, 2, 1, 1, -1]
5 : 2016-05-28 09:43:50.532231  i =  80000  len-xgroup = 2 [2, 2, 39, 76, -1, -1, -1, 1, 1, -1, -1, -1]
5 : 2016-05-28 09:45:23.362023  i =  90000  len-xgroup = 1 [1, 1, 67, -1, -1, -1, -1, 1, -1, -1, -1, -1]
6 : 2016-05-28 09:46:52.543308 (68786, 26)
4 : 2016-05-28 09:46:52.543308  i1,i2= 304000 323000
5 : 2016-05-28 09:46:56.703849  i =  0  len-xgroup = 1 [1, 2, 51, -1, -1, -1, -1, 2, -1, -1, -1, -1]
5 : 2016-05-28 09:48:42.469198  i =  10000  len-xgroup = 1 [1, 1, 30, -1, -1, -1, -1, 1, -1, -1, -1, -1]
5 : 2016-05-28 09:50:12.657239  i =  20000  len-xgroup = 3 [3, 3, 9, 37, 98, -1, -1, 1, 1, 1, -1, -1]
5 : 2016-05-28 09:51:59.550104  i =  30000  len-xgroup = 13 [13, 25, 91, 52, 80, 48, 66, 10, 9, 4, 1, 1]
5 : 2016-05-28 09:53:29.720448  i =  40000  len-xgroup = 3 [3, 4, 1, 54, -1, -1, -1, 2, 2, -1, -1, -1]
5 : 2016-05-28 09:55:16.585193  i =  50000  len-xgroup = 1 [1, 2, 62, -1, -1, -1, -1, 2, -1, -1, -1, -1]
5 : 2016-05-28 09:56:46.478590  i =  60000  len-xgroup = 4 [4, 5, 20, 59, 85, -1, -1, 3, 1, 1, -1, -1]
5 : 2016-05-28 09:58:32.881794  i =  70000  len-xgroup = 3 [3, 7, 72, 5, 83, -1, -1, 5, 1, 1, -1, -1]
5 : 2016-05-28 10:00:02.630756  i =  80000  len-xgroup = 5 [5, 5, 51, 8, 50, 81, -1, 2, 1, 1, 1, -1]
5 : 2016-05-28 10:01:49.878950  i =  90000  len-xgroup = 3 [3, 3, 95, -1, -1, -1, -1, 3, -1, -1, -1, -1]
6 : 2016-05-28 10:03:25.982829 (69427, 26)
4 : 2016-05-28 10:03:25.982829  i1,i2= 323000 342000
5 : 2016-05-28 10:03:29.655249  i =  0  len-xgroup = 2 [2, 2, 3, 80, -1, -1, -1, 1, 1, -1, -1, -1]
5 : 2016-05-28 10:05:13.601376  i =  10000  len-xgroup = 2 [2, 2, 56, -1, -1, -1, -1, 2, -1, -1, -1, -1]

                user_id  dt0m  count0  countCnt0  count1  countCnt1  b0n0  \
user_id dt0m
1197000 2     1197000.0   2.0     1.0        1.0     NaN        NaN  13.0
        6     1197000.0   6.0     9.0       33.0     1.0        1.0   8.0
        7     1197000.0   7.0     4.0        5.0     NaN        NaN  75.0
        11    1197000.0  11.0     1.0        1.0     NaN        NaN  23.0
1197001 1     1197001.0   1.0     1.0        1.0     NaN        NaN   8.0

              b0n1  b0n2  b0n3  ...   b0v0  b0v1  b0v2  b0v3  b0v4  b1v0  \
user_id dt0m                    ...
1197000 2     -1.0  -1.0  -1.0  ...    1.0  -1.0  -1.0  -1.0  -1.0   NaN
        6     98.0  25.0  29.0  ...   16.0   9.0   6.0   2.0  -1.0   1.0
        7     25.0  35.0  52.0  ...    2.0   1.0   1.0   1.0  -1.0   NaN
        11    -1.0  -1.0  -1.0  ...    1.0  -1.0  -1.0  -1.0  -1.0   NaN
1197001 1     -1.0  -1.0  -1.0  ...    1.0  -1.0  -1.0  -1.0  -1.0   NaN

              b1v1  b1v2  b1v3  b1v4
user_id dt0m
1197000 2      NaN   NaN   NaN   NaN
        6     -1.0  -1.0  -1.0  -1.0
        7      NaN   NaN   NaN   NaN
        11     NaN   NaN   NaN   NaN
1197001 1      NaN   NaN   NaN   NaN

[5 rows x 26 columns]

In [22]:
len(trans01)
trans01.tail()

                user_id  dt0m  count0  countCnt0  count1  countCnt1  b0n0  \
user_id dt0m
1198783 9     1198783.0   9.0     1.0        1.0     1.0        1.0  47.0
        12    1198783.0  12.0    12.0       16.0     NaN        NaN  48.0
1198784 4     1198784.0   4.0     3.0        9.0     NaN        NaN  68.0
        8     1198784.0   8.0     1.0        1.0     1.0        1.0  79.0
1198785 7     1198785.0   7.0     2.0        3.0     NaN        NaN  76.0

              b0n1  b0n2  b0n3  ...   b0v0  b0v1  b0v2  b0v3  b0v4  b1v0  \
user_id dt0m                    ...
1198783 9     -1.0  -1.0  -1.0  ...    1.0  -1.0  -1.0  -1.0  -1.0   1.0
        12    39.0  23.0   5.0  ...    4.0   3.0   2.0   1.0   1.0   NaN
1198784 4     26.0  95.0  -1.0  ...    6.0   2.0   1.0  -1.0  -1.0   NaN
        8     -1.0  -1.0  -1.0  ...    1.0  -1.0  -1.0  -1.0  -1.0   1.0
1198785 7     -1.0  -1.0  -1.0  ...    3.0  -1.0  -1.0  -1.0  -1.0   NaN

              b1v1  b1v2  b1v3  b1v4
user_id dt0m
1198783 9     -1.0  -1.0  -1.0  -1.0
        12     NaN   NaN   NaN   NaN
1198784 4      NaN   NaN   NaN   NaN
        8     -1.0  -1.0  -1.0  -1.0
1198785 7      NaN   NaN   NaN   NaN

[5 rows x 26 columns]

In [23]:
trainx.query('user_id==1190000')['cnt'].count()

60

In [24]:
import os
xres = [os.path.join(pickleDir,iFile) for iFile in os.listdir(pickleDir) if (iFile[0:7]=='trans01')]
fres=xres
len(fres)

64

In [25]:
# Read files and build one dataframe
ff  = pd.read_pickle(fres[0])
for ifile in fres[1:len(fres)] :
    ff1 = pd.read_pickle(ifile)
    ff  = pd.concat([ff,ff1])
    del ff1
print(ff.shape)
ff.tail()

(4401588, 26)

                user_id  dt0m  count0  countCnt0  count1  countCnt1  b0n0  \
user_id dt0m
1198783 9     1198783.0   9.0     1.0        1.0     1.0        1.0  47.0
        12    1198783.0  12.0    12.0       16.0     NaN        NaN  48.0
1198784 4     1198784.0   4.0     3.0        9.0     NaN        NaN  68.0
        8     1198784.0   8.0     1.0        1.0     1.0        1.0  79.0
1198785 7     1198785.0   7.0     2.0        3.0     NaN        NaN  76.0

              b0n1  b0n2  b0n3  ...   b0v0  b0v1  b0v2  b0v3  b0v4  b1v0  \
user_id dt0m                    ...
1198783 9     -1.0  -1.0  -1.0  ...    1.0  -1.0  -1.0  -1.0  -1.0   1.0
        12    39.0  23.0   5.0  ...    4.0   3.0   2.0   1.0   1.0   NaN
1198784 4     26.0  95.0  -1.0  ...    6.0   2.0   1.0  -1.0  -1.0   NaN
        8     -1.0  -1.0  -1.0  ...    1.0  -1.0  -1.0  -1.0  -1.0   1.0
1198785 7     -1.0  -1.0  -1.0  ...    3.0  -1.0  -1.0  -1.0  -1.0   NaN

              b1v1  b1v2  b1v3  b1v4
user_id dt0m
1198783 9     -1.0  -1.0  -1.0  -1.0
        12     NaN   NaN   NaN   NaN
1198784 4      NaN   NaN   NaN   NaN
        8     -1.0  -1.0  -1.0  -1.0
1198785 7      NaN   NaN   NaN   NaN

[5 rows x 26 columns]

In [ ]:
ff.shape

(4401588, 26)

In [28]:
# Save result in file
print(ff.shape)
ff.to_pickle(os.path.join(pickleDir,'trans01-user-id-dtm0-all.pck'))
#del ff

(4401588, 26)

In [29]:
del ff
del trainx